@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

* {
  box-sizing: border-box;
  
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* overflow-x: hidden; */
    font-family: "Baskervville", serif;
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
  }

main {
    background-color: #E0DBE0;
}
