.accordion {
    width: 100%;
  }
  
  .accordionItem {
    margin-bottom: 10px;
  }
  
  .accordionTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A4BDF5;
    color: whitesmoke;
    padding: 10px;
    cursor: pointer;
  }
  
  .accordionContent {
    background-color: #A4BDF5;
    color: whitesmoke;
    padding: 10px;
  }
  