.productList {
    width: 70%; /* Se till att både adminTop och table har samma bredd */
    margin: 0 auto; /* Centrera hela sektionen */
}

.adminTop {
    display: flex;
    justify-content: space-between; /* Gör att h2 och knappen ligger på samma rad */
    align-items: center;
    width: 80%;
    margin: 20px auto; /* Centrerar tabellen */
    margin-bottom: 10px; /* Lägg lite avstånd mellan adminTop och tabellen */
}

.adminH2 {
    color: black;
    padding: 10px;
    
}

.adminTop button {
    padding: 8px 12px;
    background: linear-gradient(135deg, #494a4a, #5a5b5b);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.adminTop button:hover {
  background: linear-gradient(135deg, #494a4a, #5a5b5b);
}

table {
    width: 80%; /* Gör tabellen bred men inte hela skärmen */
    margin: 20px auto; /* Centrerar tabellen */
    border-collapse: separate; /* Tar bort dubbelkantade borders */
    border-spacing: 0;
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.2); /* Lägger till en subtil skugga */
    border-radius: 8px;
    overflow: hidden;
    
  }
  
  thead {
    background-color: #e0dfdf; /* Ljusgrå bakgrund på header */
    color: #3b3b3b;
    
  }
  
  th, td {
    border: 1px solid rgba(107, 106, 106, 0.806); /* Tydliga svarta borders */
    padding: 10px; /* Ger utrymme i cellerna */
    text-align: left; /* Text till vänster */
    color: #3b3b3b;
   
  }

  .deletebtn {
    cursor: pointer;
  }

  td:last-child {
    text-align: right; /* Flytta innehållet (knappen) till höger */
    
}

  thead tr:first-child th:first-child {
    border-top-left-radius: 8px;
}
thead tr:first-child th:last-child {
    border-top-right-radius: 8px;
}
tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}
tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

  
  tbody{
    background-color:  #fafafa; 
  }

/*   tbody tr:nth-child(odd) {
    background-color: #eae9e9; 
  } */
  
  tbody tr:hover {
    background-color: #dce5f8; /* Ljusgrå hover-effekt */
  }