@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

footer {
    background-color: #A4BDF5;
    color: whitesmoke;
    margin-top: 20px;
    font-family: 'Helvetica Neue 55', sans-serif;
}

/* .follow {
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
} */

.footerIcon {
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.copyright 
 {
    text-align: center;
 }

 .footerList {
    display: none;
 }

 @media (min-width: 640px) {

    /* .follow {
        font-weight: bold;
        padding: 20px ;
    } */

   

    .mobileAccordion {
        display: none;
    }

    .footerDesktop {
        background-color: #A4BDF5;
        color: whitesmoke;
        
    }

    .footerList{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 20px;
        gap: 20px;
        list-style-type: none;
        text-align: center;
    }

    .footerList li {
        list-style-type: none;
       margin-top: 10px;
    }
 }





