
main {
  background-color: #f9f9f9;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}


  
.productImg{
  width: 100%;
}

  .ProductInfo{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    margin: 20px 0;
    
  }


  .relatedProductsGrid {
    display: none;
  }

  .relatedText {
    text-align: center;
  }

  .relatedSlider {
    display: flex;
    flex-direction: column;  /* Visa bilderna horisontellt */
    
    
  }


  .relatedItem {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    
  }

  .relatedImg {
    
    width: 100%;
    height: auto;
  }


  

  @media (min-width: 640px){


    .ProductInfo{
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      height: auto;
     
    }

    .ProductDetails {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      
    }

    .relatedProduct {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (width >= 1024px) {

    
    .relatedProductsGrid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
      width: 100%;
      
      
      
      
      
    }

    .hiddenRelated {
      
      width: 100%;
      background-color: green;
    
    
    } 

     .relatedImg {
      
      width: 100%;
      height: auto;
    } 

  
  }