/* Navbar.css */
.navbar {
    width: 100%;
    height: 100px;
    background-color: #A4BDF5; /* blue-500 */
    padding: 1rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center; /* Centrera innehållet */
    position: relative;
  }
  
  .navbarToggle {
    
    font-size: 1.875rem; /* 3xl */
    color: whitesmoke;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 1rem;
  }

  .imageLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .logo {
    
    width: 100px;
    height: 100px;
    
    
  }
  
  .headerIcon {
    display: flex;
    font-size: 1.5rem;
    color: whitesmoke;
    gap: 16px;
    position: absolute;
    right: 1rem;
  }

  input {
    display: none;
  }

  .navbarMenu {
    position: absolute;
    top: 4rem; /* Adjust for the navbar height */
    left: 0;
    width: 100%;
    background-color: #A4BDF5; /* blue-500 */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
   
    transform: translateY(-200%);
  }
  
  .navbarMenu.open {
    transform: translateY(18%);
    z-index: 1;
  }
  
  .navbarLink {
    text-decoration: none;
    color: white;
    
    z-index: 1;
  }
  
  .navbarLink:hover {
    text-decoration: underline;
  }

  .catagoryDesktop{
    display: none;
  }

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
 }